/*-----------------
        fonts 
------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
/*-------------------
    common styles 
--------------------*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
/*-----------------------
    banner styles start 
------------------------*/
.banner-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 677px;
    background-color: #2D25A0;
    align-items: center;
}
.half-width{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner-heading h1{
    color: white;
    font-size: 64px;
    width: 485px;
    height: 230px;
    line-height: 80px;
}
.btn{
    transition: transform .4s;
}
.btn:hover{
    transform: scale(1.2);
}
.button{
    text-decoration: none;
    color: white;
    width: 168px;
    height: 44px;
    background-color: #E02C6D;
    padding: 10px 24px 10px 24px;
    font-weight: 500;
    font-size: 16px;
    border: 1px solid #E02C6D;
    position: relative;
    top: 36px;
    right: 160px;
    
}
.ball{
    width: 256px;
    height: 144px;
    position: relative;
    left: -180px;
    bottom: -130px;
    transition: transform 1s ease-out 1.1s;
}
.half-width:hover .ball{
    transform: translate(50px, -160px);
 }
.animate-player{
    transition: transform 1s ease-in;
}
.half-width:hover .animate-player{
    transform: rotate(10deg);
    transform-origin: top right;
    
}




/*-------------------------
         Media Queries 
----------------------------*/

/* media queries for Smart Phone */
@media only screen and (max-width: 480px){
    .container{
        width: 100%;
    }
    .banner-section{
        grid-template-columns: repeat(1, 1fr);
    }
    .half-width{
        flex-direction: column;
        justify-content: center;

    } 
}